.home-intro {
    text-align: center;
    margin-bottom: 2em;
}

.recent-posts, .featured-projects {
    margin-bottom: 2em;
}

article {
    margin-bottom: 1em;
}

body {
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}